
<!-- ************( Parte de Arriba )************ -->
<ion-row>

  <ion-col size="6" class="d-flex ion-justify-content-center">
    <h4><b>{{ _nombre_s }}</b> => tienes correctas: <b>{{ _cantidad_i }}</b></h4>
  </ion-col>

  <ion-col size="6">
    <div class="d-flex justify-content-between">
      <h2 class="d-flex justify-content-start">Vida Restante:</h2>
      <p class="d-flex justify-content-end align-items-end mb-0">{{_vida_i}}/100</p>
    </div>
    <ion-progress-bar [value]="_vida_i / 100"></ion-progress-bar>
  </ion-col>

</ion-row>


<!-- ************( Parte de Abajo )************ -->
<ion-row>

  <ion-col size="6" class="d-flex ion-justify-content-center">
    <h2 class="{{ _css_s }}"><b>{{ _mensaje_s }}</b></h2>
  </ion-col>

  <ion-col size="6" class="d-flex ion-justify-content-center">
    <ion-button class="w-50 h-100 text-white" (click)="continuar()"><b>Continuar</b></ion-button>
  </ion-col>

</ion-row>

