<ion-content>
  <!-- <ion-img src="assets/fondos/fondoPreguntas.png"></ion-img> -->


  <ion-img class="position-fixed bottom-0 w-100" src="assets/fondos/suelo1.png"></ion-img>
  <ion-img class="position-fixed bottom-0 w-100 pilar" src="assets/fondos/pilar.png"></ion-img>

  <!--
  <div class="w-100" style="padding-left: 30%;">
    <ion-img class="persona position-absolute top-50 start-20" src="assets/fondos/bocadillos1.png" ></ion-img>
    <p>kjfgosuogsuoghuioshguio</p>
    <h2>{{ _pregunta_s }}</h2>
    <ion-img class="persona position-absolute top-50 start-20" src="assets/fondos/entradaBocadillo1.png" ></ion-img>
  </div>
  -->
  <!--
    <div class="position-absolute w-50 top-50 start-50 translate-middle">
      <ion-img class="persona position-absolute top-10" src="assets/fondos/bocadillos1.png" ></ion-img>
      <h2>{{ _pregunta_s }}</h2>
      <ion-img class="persona position-absolute " src="assets/fondos/entradaBocadillo1.png" ></ion-img>
    </div>
  -->

  <ion-grid style="width: 100%; height: 100%;">
    <!---------( Bocadillos Pregunta )---------->
    <ion-row class="filas">
      <ion-col>
        <div *ngIf="_bocadilloAparecer_b" class="divBocadillos">
          <h2>{{ _bocadillo_s }}</h2>
        </div>
      </ion-col>
    </ion-row>


    <!---------( Presentador )---------->
    <ion-row class="filas">
      <ion-col>
        <ion-img class="persona" src="assets/fondos/SiluetaGnomo.png"></ion-img> <!-- position-absolute top-50 start-50 translate-middle -->
      </ion-col>
    </ion-row>


    <!---------( Panel Usuario )---------->
    <!--
    - Poner nombre.
    - Poner pregunta.
    - Poner comprobacion.
    - Poner nueva-pregunta.
    -->
    <ion-row class="filas">
      <ion-col>

        <div class="h-100"> <!-- class="position-fixed bottom-0 w-100" -->
          <ion-grid style="/*margin-top: 15%;*/ /*max-width: 80%;*/" class="fondoPanel p-2 w-100 h-100 align-items-center">

            <app-nombre *ngIf="_estadoPartida === _MaquinaEstados.NOMBRE"
                          class="h-100"
                          (_empezar)="iniciarRonda()"
                          (_id_i)="_Jugador_i = $event"
            ></app-nombre>
            <app-pregunta *ngIf="_estadoPartida === _MaquinaEstados.RESPONDIENDO"
                          class="align-items-center"
                          [_nombre_s]="'Ninguno'"
                          [_cantidad_i]="-1"
                          [_tiempo_i]="_tiempo_i"
                          [_maxTiempo_i]="_maxTiempo_i"
                          [_vida_i]="_vida_i"
                          [_pregunta_s]="_pregunta_s"
                          [_respuesta1_s]="_respuesta1_s"
                          [_respuesta2_s]="_respuesta2_s"
                          [_respuesta3_s]="_respuesta3_s"
                          [_respuesta4_s]="_respuesta4_s"
                          (_respuesta_i)="responderPregunta($event)"
            ></app-pregunta>
            <app-comprobacion *ngIf="_estadoPartida === _MaquinaEstados.COMPROBANDO"
                              class="align-items-center"
                              [_nombre_s]="'Ninguno'"
                              [_cantidad_i]="-1"
                              [_vida_i]="_vida_i"
                              [_tiempo_i]="_tiempo_i"
                              [_acertado_b]="_acertado_b"
                              (_continuar)="iniciarRonda()"
            ></app-comprobacion>
            <app-nueva-pregunta *ngIf="_estadoPartida === _MaquinaEstados.NUEVA"></app-nueva-pregunta>

          </ion-grid>
        </div>

      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
