ion-content
{
  --background: url('../../assets/fondos/fondoPreguntas.png') no-repeat center center / cover;
}

.fondoPanel
{
  --background: url('../../assets/fondos/panelBTN.png') no-repeat center center / cover;
  background: url('../../assets/fondos/panelBTN.png') no-repeat center center / cover;
}


.persona
{
  min-width: 100px;
  max-width: 300px;

  min-height: 40px;
  max-height: 60px;
}

.btnRespuesta
{
  min-width: 300px;
  max-width: 300px;
  min-height: 40px;
  max-height: 60px;
}
