:root
{

}


ion-content
{
  --background: url('../../assets/fondos/fondoPreguntas.png') no-repeat center center / cover;
}


.persona
{
  --cuadrado: 256px; // tamaño de la imagen persona, que es cuadrada.

  min-width: calc(var(--cuadrado) / 4);
  max-width: var(--cuadrado);

  // los -30px permite pegar la imagen al borde, a veces.
  min-height: calc((var(--cuadrado) / 4) - 30px);
  max-height: calc(var(--cuadrado) - 30px);

  // centrar.
  margin-left: calc(50% - (var(--cuadrado) / 2));
}


.divBocadillos
{
  background-color: #ffede4;

  margin: 0.5rem 2rem 0.5rem 2rem;

  min-height: 80%;
  border-radius: 2rem;

  *
  {
    text-align: center;
    color: #8c8c8c;
  }
}

.filas
{
  min-height: 30%;
  max-height: 30%;
}

.btnRespuesta
{
  min-width: 300px;
  max-width: 300px;
  min-height: 40px;
  max-height: 60px;
}


// Boostrap no da
.w-60
{
   width: 60%;
}

.w-70
{
  width: 70%;
}

.w-80
{
   width: 80%;
}

.w-90
{
   width: 90%;
}
