/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

:root
{
  --color1: #1d2f72; // Bode Panel.
  --color2: #3149a5; // Fondo Panel / Gente Oscura.
  --color3: #0030e1; // Suelo Plato.
  --color4: #5e80ff; // Borde Plato.
  --color5: #4265e6; // Gente Clara.
  --color6: #4265e6; // XD.
}


.fondoPanel
{
  //--background: url('assets/fondos/panelBTN.png') no-repeat center center / cover;
  //background: url('assets/fondos/panelBTN.png') no-repeat center center / cover;

  border: var(--color1) 15px solid;
  background: var(--color2);
}

// Barras de Progreso
.barraProgreso
{
  --progress-background: lightgreen;
  --transition: background-color 0.5s ease;
}

.barraProgreso.medio
{
  --progress-background: lightyellow;
}

.barraProgreso.final
{
  --progress-background: lightcoral;
}



// Boostrap no da
.w-60
{
  width: 60%;
}

.w-70
{
  width: 70%;
}

.w-80
{
  width: 80%;
}

.w-90
{
  width: 90%;
}
