
<!-- ************( Parte de Arriba )************ -->
<ion-row>

  <ion-col size="6" class="d-flex ion-justify-content-center">
    <h4><b>{{ _nombre_s }}</b> => tienes correctas: <b>{{ _cantidad_i }}</b></h4>
  </ion-col>

  <ion-col size="6">
    <div class="d-flex justify-content-between">
      <h3 class="d-flex justify-content-start">Vida Restante:</h3>
      <p class="d-flex justify-content-end align-items-end mb-0">{{_vida_i}}/100</p>
    </div>
    <ion-progress-bar [value]="_vida_i / 100"></ion-progress-bar>
  </ion-col>

</ion-row>


<!-- ************( Parte de Abajo )************ -->
<ion-row>

  <ion-col size="6">
    <div class="d-flex justify-content-between">
      <h3 class="d-flex justify-content-start">Tiempo Restante:</h3>
      <p class="d-flex justify-content-end align-items-end mb-0">{{_tiempo_i}}/{{_maxTiempo_i}}</p>
    </div>
    <ion-progress-bar [value]="_tiempo_i / _maxTiempo_i" [class]="barraTiempo"></ion-progress-bar>
  </ion-col>

  <!-- Botones Respuesta -->
  <ion-col size="6">
    <ion-row>
      <ion-col size="6">
        <ion-button class="btn btn-primaty w-100" (click)=responderPregunta(0)>{{ _respuesta1_s }}</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="btn btn-primaty w-100" (click)=responderPregunta(1)>{{ _respuesta2_s }}</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button class="btn btn-primaty w-100" (click)=responderPregunta(2)>{{ _respuesta3_s }}</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="btn btn-primaty w-100" (click)=responderPregunta(3)>{{ _respuesta4_s }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-col>

</ion-row>

